@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "pastel";
  default: true;
  --color-primary: #ded3df;
  --color-primary-content: #2a2a2a;
  --color-secondary: #f6e9f6;
}

@theme inline {
  --font-sans: "Zen Maru Gothic", ui-sans-serif, system-ui, sans-serif;
}
